.previous {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  height: 2rem;
  color: #e73f57;
}

.previousLink {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 8rem;
}

.breadCrumps {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  padding: 0 1rem;
  font-weight: lighter;
  background-color: #eee;
  color: #7e7e7e;
}

.breadCrumps span {
  display: flex;
  align-items: center;
}
