.content {
  color: black;
}

.map {
  height: 32rem;
}

.content h1,
h3 {
  color: #003d7e;
}

.phone > span {
  font-size: 0.5em;
  font-weight: 500;
  margin-left: 0.5rem;
}

.heading1 {
  display: block;
  font-size: 17px;
  font-weight: bold;
}

.heading2 {
  display: block;
  font-size: 15px;
  font-weight: bold;
}

.address {
  display: block;
  font-size: 15px;
}
