.content {
  color: black;
}

.map {
  height: 24rem;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.content h1,
h3 {
  color: #003d7e;
}

.phone > span {
  font-size: 0.5em;
  font-weight: 500;
  margin-left: 0.5rem;
}
