.content {
  color: black;
}

.map {
  height: 32rem;
}

.content h1,
h3 {
  color: #003d7e;
}

.phone > span {
  font-size: 0.8em;
  font-weight: 500;
  margin-left: 0.5rem;
}

.heading1 {
  display: block;
  font-size: 17px;
  font-weight: bold;
}

.heading2 {
  display: block;
  font-size: 15px;
  font-weight: bold;
}

.address {
  display: block;
  font-size: 15px;
  font-weight: lighter;
  color: #333333;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.cms {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 31%;
}

@media screen and (max-width: 640px) {
  .cms {
    width: 100%;
  }
  .modalText {
    padding: 0 1rem;
  }
  .modal.big {
    height: 75vh !important;
    top: 390px !important;
  }
}
