.choice {
  padding: 0 0.5rem;
  margin: 0 8rem 1rem 0;
  width: 100%;
  border: 1px solid #979797;
  background-color: white;
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 640px) {
  .choice {
    padding: 0 0.5rem;
    margin: 1rem 0;
    width: auto;
    border: 1px solid #979797;
    background-color: #e7e3c8;
    cursor: pointer;
    color: black;
  }
}

.choice:hover {
  background-color: #e7e3c8;
}

.choice > h4 {
  margin: 0.8rem 0.4rem;
}

.card {
  display: flex;
  flex-direction: space-between;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 3rem;
  width: 12rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
  margin-right: 1.5rem;
  border: 1px solid #979797;
  border-radius: 0.2rem;
  background-color: white;
  cursor: pointer;
  color: black;
}

.card:hover {
  color: gray;
}

.checkTrue:hover {
  color: green;
}

.checkFalse:hover {
  color: red;
}

.card h4 {
  color: black;
  margin-left: 1rem;
  text-align: left;
}
