.choice {
  padding: 0 0.5rem;
  margin: 1rem 8rem 1rem 2rem;
  width: auto;
  border: 1px solid #979797;
  background-color: #e7e3c8;
  cursor: pointer;
  color: black;
}

.choice:hover {
  background-color: #d8d1a6;
}

.choice > h4 {
  margin: 0.8rem 0.4rem;
}

.card {
  display: inline-block;
  text-align: center;
  margin: 2rem;
  height: 8rem;
  width: 8rem;
  padding: 2rem;
  border: 1px solid #979797;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: lightGray;
}

.card:hover {
  color: gray;
}

.checkTrue:hover {
  color: green;
}

.checkFalse:hover {
  color: red;
}

.card h4 {
  color: black;
}
