.App {
  text-align: left;
}

.Container {
  height: 575px;
  width: 1170px;
  margin: 0 auto;
  border: 1px solid #cdcdcd;
  background-color: #f4f2e6;
}

.Header {
  height: 3rem;
  padding: 0 2rem;
}

.Content {
  padding: 1rem 4rem;
}

.Info {
  background-color: rgba(72, 185, 95, 0.6);
}

.App-link {
  color: #61dafb;
}

.Button {
  display: block;
  background-color: #356eab;
  border: 2px solid transparent;
  color: #fff;
  font-weight: 700;
  font-size: 0.8em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.InputText {
  display: block;
  width: 40rem;
  height: 2rem;
  padding: 0;
  font-size: 1.3rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
